name: Android CICD deployment

on:
  push:
    branches:
      - main
      - develop
      - feature/mobile-config-update

jobs:
  build:
    name: Clean build
    runs-on: ubuntu-latest

    steps:
      - name: check out
        uses: actions/checkout@v2

      - name: setup JDK
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Change wrapper permissions
        run: chmod +x ./gradlew

      - name: clean build
        run: ./gradlew clean build
        env:
          USER: ${{ secrets.USER }}
          TOKEN: ${{ secrets.TOKEN }}

      - name: upload mock apk
        uses: actions/upload-artifact@v1
        with:
          name: myhealth_mock.apk
          path: app/build/outputs/apk/mock/debug/app-mock-debug.apk

      - name: upload dev apk
        uses: actions/upload-artifact@v1
        with:
          name: myhealth_dev.apk
          path: app/build/outputs/apk/dev/debug/app-dev-debug.apk

      - name: upload stage apk
        uses: actions/upload-artifact@v1
        with:
          name: myhealth_stage.apk
          path: app/build/outputs/apk/stage/debug/app-stage-debug.apk

      - name: upload prod apk
        uses: actions/upload-artifact@v1
        with:
          name: myhealth_prod.apk
          path: app/build/outputs/apk/prod/debug/app-prod-debug.apk

      - name: Saucelabs delete and upload
        env:
          SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
          SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
        run: |
          curl -u "$SAUCE_USERNAME:$SAUCE_ACCESS_KEY" --location \
          --request DELETE 'https://api.us-west-1.saucelabs.com/v1/storage/groups/1696366' | json_pp

          curl -u "$SAUCE_USERNAME:$SAUCE_ACCESS_KEY" --location \
          --request POST 'https://api.us-west-1.saucelabs.com/v1/storage/upload' \
          --form 'payload=@"app/build/outputs/apk/stage/debug/app-stage-debug.apk"' \
          --form 'name="app-stage-debug.apk"' \
          --form 'description="android stage app"'

      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          repository: ADPandian/HGAndroidmobileapp
          event-type: my-event
          client-payload: '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}"}'  
          
          
